<h1>Listing attendees</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Avatar</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attendees.each do |attendee| %>
  <tr>
    <td><%= attendee.title %></td>
    <td><%= attendee.avatar %></td>
    <td><%= attendee.status %></td>
    <td><%= link_to 'Show', attendee %></td>
    <td><%= link_to 'Edit', edit_attendee_path(attendee) %></td>
    <td><%= link_to 'Destroy', attendee, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attendee', new_attendee_path %>
