<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @attendee.title %>
</p>

<p>
  <b>Avatar:</b>
  <%= @attendee.avatar %>
</p>

<p>
  <b>Status:</b>
  <%= @attendee.status %>
</p>


<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
