
<div class="row" id="create_events">
  
  <%= simple_form_for @event, :html => {:class => ''} do |f| %>
    <div class="span12" style="text-align: center">
       <%= image_tag('logo.png') %>
      <%= f.input :title, :label => false, :placeholder => 'event name'  %>

      <%= f.input :date, :as => :string, :input_html => { :class => 'datepicker'}, :label => false, :placeholder => 'what day?'  %>
      <% # f.input :time, :label => false, :placeholder => "what time?" %>
      <%= event_time_select(:time) %>
      <br/>
      <%= f.button :submit, :class => "btn-info btn-large"  %>
    </div>
  <% end %>
  <br/>
</div>
