<p id="notice"><%= notice %></p>

<p>
  <b>Event start:</b>
  <%= @event.event_start %>
</p>

<p>
  <b>Event end:</b>
  <%= @event.event_end %>
</p>

<p>
  <b>Status:</b>
  <%= @event.status %>
</p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
