<div class="row">
  <div id="event_new" class="span12">

    <h1>
      <%= timeago(@event.event_start) %>
    </h1>

    until <%= @event.title %>

  </div>
</div>

<div class="row">
  <div class="offset3 span4">
    <h3>Who's Coming?</h3>
    <ul>
      <% @event.subscriptions.map(&:user).uniq.each do |user| %>
        <li><%= user.email %></li>
      <% end %>
    </ul>
  </div>
  <div class="span4">
    <h3>Subscribe to this event</h3>
    <%= simple_form_for [@event, @subscription] do |f| %>

      <%= f.input :email, :label => false %>

      <%= f.button :submit, :class => 'btn btn-info' %>
    </div>
  <% end %>
</div>
